@charset "UTF-8";

body{
    background-color: #ACDAD9;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color: rgb(0, 0, 0);
}

h1#principal{
    text-align: center;
    background-color:#0E968B;
    color: white;
}

h2{
    color: #07524C;
}
.basico{
color: #e7ebea;
font-weight: bold;
}
.intermediario{
color:#ccb63a;
font-weight: bold;
}
.avancado{
    color: #ff0000;
}
.destaque{
    font-weight: bolder;
}